<h1><%= @doctor.name %>: Appointments</h1>
<%= link_to 'Add appointment', new_doctor_appointment_path(@doctor) %>
<hr />


  <% @doctors.each do |doctor| %>
    <li>
      <%= @doctor.users.name %>
      <br />
      <%= link_to 'Delete',@doctor, method: :delete %>
    </li>
  <% end %>
</ul>

